@import '../../util.less';

.input {
  position: relative;
  margin: 0 0 16px 0;

  &.focus, &.value {
    .status {
      left: -23px;
      transform: scale(1);
    }
  }

  &.focus {
    .status {
      background-color: @color-primary;
    }
  }

  &.valid {
    .status {
      background-color: @color-success;
    }
  }

  &.invalid {
    input {
      border-color: @color-danger;
    }

    .status {
      background-color: @color-danger;
    }
  }

  &.validation .status {
    display: block;
  }

  .status {
    position: absolute;
    display: none;
    top: 14px;
    left: 0;
    padding: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: @color-dark;

    .box();

    transform: scale(0);

    transition: transform @animation-easing @animation-time,
      background-color @animation-easing @animation-time,
      left @animation-easing @animation-time;

    .icon svg {
      display: block;
      stroke: @color-white;
    }
  }

  input {
    position: relative;
    padding: 0 0 0 12px;
    width: 100%;
    height: 44px;
    font-size: 17px;
    font-family: 'Rubik', sans-serif;
    line-height: 31px;
    border-radius: 4px;
    border: 3px solid @color-dark;
    outline: none;
    background-color: @color-white;
    color: @color-black;
    z-index: 1;

    .box();

    transition: border-color @animation-easing @animation-time;

    &[type="password"] {
      letter-spacing: 1px;
    }

    &:focus {
      border-color: @color-primary;
    }

    &:disabled {
      .stripe(@color-gray);
    }

    &::-webkit-input-placeholder {
      color: @color-dimgray;
    }
  }
}